html {
	overflow-x: hidden;
	overflow-y: hidden;
	}

.background {
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(20,81,153)), to(rgb(66,127,200)));
}

#titlePanel {
	color: white;
	font-family: arial black;
	height: 110px;
	position: relative;
	}

#title {
	text-transform: lowercase;
	letter-spacing: -6pt;
	font-size: 60pt;
	position: absolute;
	bottom: 0;
	left: 10px;
}

#pageAtts {
	text-align: right;
	font-size: 25pt;
	position: absolute;
	bottom: 15px;
	right: 10px;
	letter-spacing: -2pt;
	}
	
.pageLabel {
	font-family: arial;
	font-size: 20pt;
	}
	
#infoPanel {
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(120,181,253)), to(rgb(20,81,153)));
	width: 100%;
	position: absolute;
	bottom: 0;
	color: rgb(50,50,50);
	-webkit-box-shadow: 0 -15px 15px rgba(0, 0, 0, .4);
	}

#info {
	margin: 10px;
	}

.taxiBox, .taxiBoxLast, .taxiBoxFull, .taxiBoxFullLast, .taxiBoxUnconfirmed, .taxiBoxUnconfirmedLast, .taxiBoxGreenLast {
	margin: 5px;
	padding: 5px;
	height: 90%;
	text-align: center;
}
.taxiBox, .taxiBoxFull, .taxiBoxUnconfirmed {
	padding-right: 20px;
}

.taxiBoxGreenLast {
	color: white;
	}
.taxiBox, .taxiBoxLast {
	color: yellow;
}
.taxiBox {
	border-right: 3px solid rgb(18,99,176);
}
.taxiBoxFull, .taxiBoxFullLast {
	color: rgba(100,20,0,0.6);
}
.taxiBoxFull {
	border-right: 3px solid rgba(139,58,58,0.4);
}
.taxiBoxUnconfirmed, .taxiBoxUnconfirmedLast {
	color: rgba(20,20,20,0.3);
}
.taxiBoxUnconfirmed {
	border-right: 3px solid rgba(20,20,20,0.2);
}
	
#activePanel {
	background-color: transparent;
	width: 100%;
	position: absolute;
	padding: 20px;
}
.taxiPanel, .taxiPanelFull, .taxiPanelUnconfirmed {
	margin-bottom: 10px;
	border-top-left-radius: 15px;
}
.taxiPanel {
	background: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.29, rgb(18,99,176)),
    color-stop(0.65, rgb(46,132,212)));
	border: 3px solid rgb(18,99,176);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}
.taxiPanelFull {
	background: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.29, rgba(139,58,58,0.4)),
    color-stop(0.65, rgba(205,85,85,0.4)));
	border: 3px solid rgba(139,58,58, 0.4);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
}
.taxiPanelUnconfirmed {
	background: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.29, rgba(58,58,58,0.2)),
    color-stop(0.65, rgba(85,85,85,0.2)));
	border: 3px solid rgba(20,20,20, 0.2);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .2);
}

.mapPanel {
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}

#destinationPanel {
	background: white;
	width: 100%;
	padding: 10px 0px 10px 300px;
	margin-bottom: 10px;
	border-bottom: 2px solid rgb(100,100,100);
	color: rgb(100,100,100);
	}

.destinationPanelScroll {
		overflow-x: -webkit-marquee;
  -webkit-marquee-direction: backwards;
  -webkit-marquee-style: scroll;
  -webkit-marquee-speed: fast;
  -webkit-marquee-increment: small;
}

.destinationTitleLabel, .destinationLabel {
	padding: 0px 10px 0px 10px;
}
.destinationTitleLabel {
	text-transform: lowercase;
	letter-spacing: -2pt;
	font-size: 20pt;
	font-family: arial black;
	position: fixed;
	left: 0px;
	background: white;
	z-index: 1;
}
.destinationLabel {
	padding: 10px;
	position: relative;
	z-index: 0;
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -1pt;
}

.infoTitleLabel {
	text-transform: lowercase;
	letter-spacing: -3pt;
	font-size: 40pt;
	font-family: arial black;
	line-height: 75%;
}
.exampleLabel {
	text-transform: lowercase;
	letter-spacing: -2pt;
	font-size: 20pt;
	font-family: arial black;
	}

.spaceLeftLabel, .idLabel, .destinationNameLabel, .fareLabel {
	font-family: arial black;
	letter-spacing: -3pt;
	font-size: 30pt;
	}
.departureTimeLabel, .arrivalTimeLabel {
	font-family: arial black;
	letter-spacing: -1pt;
	font-size: 10pt;
	}
.fadedIcon {
	opacity:0.4;
}
.veryFadedIcon {
	opacity:0.1;
}