html {
	overflow-x: hidden;
	overflow-y: hidden;
	}

.background {
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(20,81,153)), to(rgb(66,127,200)));
}

#titlePanel {
	color: white;
	font-family: arial black;
	height: 130px;
	position: relative;
	}

#title {
	text-transform: lowercase;
	letter-spacing: -6pt;
	font-size: 70pt;
	position: absolute;
	bottom: 0;
	left: 10px;
}

#pageAtts {
	text-align: right;
	font-size: 25pt;
	position: absolute;
	bottom: 15px;
	right: 10px;
	letter-spacing: -2pt;
	}
	
.timeLabel {
	
	}

.pageLabel {
	font-family: arial;
	font-size: 20pt;
	}
	
#infoPanel {
	background: -webkit-gradient(linear, left top, right bottom, from(rgb(255,255,255)), to(rgb(154,181,228)));
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 10px;
	color: rgb(36,97,170);
	border-top: 5px solid white;
	-webkit-box-shadow: 0 -15px 15px rgba(0, 0, 0, .4);
	}

#infoIcon {
	float: left;
	margin-left: 10px;
	}
#info {
	float: left;
	margin-left: 20px;
	}
#horizonIcon {
	float: right;
	margin-right: 30px;
	margin-top: 10px;	
}

.taxiBox, .taxiBoxLast, .taxiBoxFull, .taxiBoxLastFull {
	margin: 5px;
	padding: 20px;
	color: yellow;
}
.taxiBox, .taxiBoxFull {
	border-right: 3px solid rgb(0,50,100);
	padding-right: 30px;
	}
.taxiBoxFull, .taxiBoxLastFull {
	color: red;
	}
	
#activePanel {
	background-color: transparent;
	width: 100%;
	position: absolute;
	padding: 20px;
}

.taxiPanel {
	background: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.29, rgb(28,109,176)),
    color-stop(0.65, rgb(56,142,212)));
	margin-bottom: 20px;
	border-top-left-radius: 15px;
	border: 3px solid rgb(0,50,100);
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}

.mapPanel {
	-webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
}